// Variables
$stone-primary: #714B67;

// Botón Toggle
.o_stone_toggle_btn {
    color: $stone-primary !important;
    transition: color 0.2s;
    
    &:hover {
        color: darken($stone-primary, 15%) !important;
    }
}

// Checkbox personalizado para que se vea bien en tamaño pequeño
.stone-chk {
    cursor: pointer;
    border-color: #adb5bd;
    &:checked {
        background-color: $stone-primary;
        border-color: $stone-primary;
    }
}

// Ajuste fino para la fila expandida
.o_stone_details_row_tr {
    td {
        background-color: #f8f9fa; // Fondo gris muy claro para diferenciar del resto
    }
}